@model WebApplication1.Models.AboutModel
@{
    ViewBag.Title = "About";
}

<p>Area ABOUT information.</p>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>Location: @ViewBag.Location</div>

<h2>@Model.Name</h2>
	</h2>@Model.Location</h2>


